p{
    font-family: Roboto,arial;
}
.search-bar{
    display: block;
}
.video-preview{
    width: 50   px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}
.thumbnail-0{
    margin-bottom: 12px;
}
.thumbnail-1{
    width: 300px;
}
.video-title{
    margin-top:0px ;
}
.channal-icons{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-info{
    display: inline-block;
    width: 250px;
}
.channal-icon1{
    width: 40px;
    border-radius: 50%;
}